* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  font-family: "Titillium Web", sans-serif;
  background: rgb(30, 16, 93);
  background: linear-gradient(180deg, rgb(30, 16, 93) 50%, rgb(55, 28, 176) 92%);
  color: #fff;
}

button {
  font-family: "Titillium Web", sans-serif;
}

header {
  background-color: #cfb933;
  display: flex;
  place-content: center;
  padding: 0.9375rem 0;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 50% 70%, 0 100%);
          clip-path: polygon(0 0, 100% 0, 100% 100%, 50% 70%, 0 100%);
}
header .title {
  color: #000;
  font-weight: 600;
  text-align: center;
  font-size: 3rem;
  text-transform: uppercase;
  margin: auto 0;
}

main {
  display: flex;
  flex-direction: column;
}
main .score-board {
  border: 1px solid #fff;
  border-radius: 1.25rem;
  width: 40%;
  margin: 3.125rem auto 0 auto;
  position: relative;
  text-align: center;
  font-size: 3.125rem;
  padding: 1.25rem 0.625rem;
}
main .score-board .badge {
  font-size: 1.25rem;
  font-weight: 600;
  letter-spacing: 0.125rem;
  position: absolute;
  top: 50%;
  text-transform: uppercase;
  background-color: #cfb933;
  color: #000;
  padding: 0.625rem 0.3125rem;
  min-width: 6.25rem;
}
main .score-board .badge.user {
  left: 0;
  transform: translate(-50%, -50%);
}
main .score-board .badge.computer {
  right: 0;
  transform: translate(50%, -50%);
}
main .challenge {
  text-align: center;
}
main .result {
  text-align: center;
  font-size: 2.5rem;
}
main .choices {
  margin: 3.125rem auto;
  display: flex;
  place-content: center;
}
main .choices i {
  font-size: 50px;
  margin: auto 20px;
  border: 10px solid #fff;
  padding: 50px;
  border-radius: 50%;
  transition: all 0.5s;
}
main .choices i:hover {
  cursor: pointer;
  transition: all 0.5s;
  transform: translateY(-10%);
}
main .choices i.win {
  border-color: #1dff1d;
  color: #1dff1d;
  box-shadow: 0px 0px 20px 0px #1dff1d;
}
main .choices i.lose {
  border-color: #ca1d1d;
  color: #ca1d1d;
  box-shadow: 0px 0px 20px 0px #ca1d1d;
}
main .choices i.draw {
  border-color: #b4b4b4;
  color: #b4b4b4;
  box-shadow: 0px 0px 20px 0px #b4b4b4;
}
main .reset {
  margin: auto auto 50px;
  text-align: center;
}
main .reset button {
  background-color: #d83c3c; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  transition: all 0.5s;
}
main .reset button:hover {
  cursor: pointer;
  transition: all 0.5s;
  transform: scale(1.2);
}

@media screen and (max-width: 768px) {
  header .title {
    font-size: 1.875rem;
  }
  main .score-board {
    width: 70%;
    margin: 1.5625rem auto;
  }
  main .score-board .badge {
    min-width: 4.375rem;
  }
  main .choices {
    margin: 1.5625rem auto;
  }
  main .choices i {
    font-size: 30px;
    margin: auto 10px;
    border: 5px solid #fff;
    padding: 25px;
    border-radius: 50%;
    transition: all 0.5s;
  }
  main .reset {
    margin: auto auto 20px;
  }
}
@media screen and (max-width: 320px) {
  main .choices i {
    font-size: 25px;
    border: 4px solid #fff;
    padding: 20px;
  }
}/*# sourceMappingURL=styles.css.map */